In [20]:
import os
import pandas as pd

In [25]:
df = pd.read_parquet('data/tec_estocasticos.parquet', engine = 'pyarrow')
df.head()

   periodo  cliente_id  material_id  tipo_cliente
0  05-2022      4894.0         22.0  Distribuidor
1  05-2022      4769.0         17.0  Distribuidor
2  05-2022      4823.0        227.0  Distribuidor
3  08-2022      4816.0        340.0  Distribuidor
4  08-2022      4888.0        270.0  Distribuidor

In [22]:
df.shape

(6955596, 4)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6955596 entries, 0 to 6973899
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   periodo       object
 1   cliente_id    float64
 2   material_id   float64
 3   tipo_cliente  object
dtypes: float64(2), object(2)
memory usage: 265.3+ MB

In [24]:
len(df.cliente_id.unique())

4773

In [19]:
len(df.material_id.unique())

1720

In [26]:
df.to_csv('data.csv')