In [3]:
import os
import pandas as pd
#import NUMEXPR_INSTALLED

In [5]:
raw_data = pd.read_parquet('data/tec_estocasticos.parquet', engine='pyarrow')
raw_data.head()

   periodo  cliente_id  material_id  tipo_cliente
0  05-2022      4894.0         22.0  Distribuidor
1  05-2022      4769.0         17.0  Distribuidor
2  05-2022      4823.0        227.0  Distribuidor
3  08-2022      4816.0        340.0  Distribuidor
4  08-2022      4888.0        270.0  Distribuidor