In [2]:
import pandas as pd

In [18]:
df = pd.read_parquet('data/tec_estocasticos.parquet', engine = 'pyarrow')
df.head()

   periodo  cliente_id  material_id  tipo_cliente
0  05-2022      4894.0         22.0  Distribuidor
1  05-2022      4769.0         17.0  Distribuidor
2  05-2022      4823.0        227.0  Distribuidor
3  08-2022      4816.0        340.0  Distribuidor
4  08-2022      4888.0        270.0  Distribuidor

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6973900 entries, 0 to 6973899
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   periodo       object
 1   cliente_id    float64
 2   material_id   float64
 3   tipo_cliente  object
dtypes: float64(2), object(2)
memory usage: 212.8+ MB

In [20]:
df['periodo'] = pd.to_datetime(df['periodo'], format='%m-%Y')
df = df.sort_values(by = 'periodo')
df = df.reset_index(drop = True)

In [21]:
df.tail(25)

           periodo  cliente_id  material_id tipo_cliente
6973875 2023-09-01      4537.0        190.0     Hospital
6973876 2023-09-01      2704.0       1353.0     Hospital
6973877 2023-09-01       489.0       1061.0     Hospital
6973878 2023-09-01       531.0       2319.0     Hospital
6973879 2023-09-01      4162.0        100.0     Hospital
6973880 2023-09-01      3050.0         55.0     Hospital
6973881 2023-09-01      3342.0       1001.0     Hospital
6973882 2023-09-01       375.0       2043.0     Hospital
6973883 2023-09-01       531.0        512.0     Hospital
6973884 2023-09-01       418.0        214.0     Hospital
6973885 2023-09-01       418.0       1870.0     Hospital
6973886 2023-09-01      3387.0       1915.0     Hospital
6973887 2023-09-01       489.0       2428.0     Hospital
6973888 2023-09-01       531.0       1962.0     Hospital
6973889 2023-09-01      2667.0        248.0     Hospital
6973890 2023-09-01      3787.0        458.0     Hospital
6973891 2023-09-01      3267.0       2082.0     Hospital
6973892 2023-09-01      4162.0       2247.0     Hospital
6973893 2023-09-01       643.0       2031.0     Hospital
6973894 2023-09-01      4639.0        266.0     Hospital
6973895 2023-09-01      4406.0        317.0     Hospital
6973896 2023-09-01       587.0       2321.0     Hospital
6973897 2023-09-01       587.0       1359.0     Hospital
6973898 2023-09-01      2421.0        341.0     Hospital
6973899 2023-09-01      1678.0        114.0     Hospital

In [22]:
for columna in df.columns:
    valores_unicos = df[columna].unique()
    cantidad_valores = len(valores_unicos)
    print(f'Valores únicos en {columna}: {valores_unicos}. Una cantidad total de {cantidad_valores} valores únicos')

Valores únicos en periodo: ['2021-01-01T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-11-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000'
 '2022-01-01T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-03-01T00:00:00.000000000' '2022-04-01T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-08-01T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2023-01-01T00:00:00.000000000' '2023-02-01T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-04-01T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-07-01T00:00:00.000000000' '2023-08-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000']. Una cantidad total de 33 valores únicos
Valores únicos en cliente_id: [ 800.  782.   nan ... 4719. 4718. 4717.]. Una cantidad total de 4774 valores únicos
Valores únicos en material_id: [ 317. 2043. 1279. ... 1562. 1557. 1860.]. Una cantidad total de 1720 valores únicos
Valores únicos en tipo_cliente: ['Hospital' 'Otro' 'Farmacia' 'Distribuidor']. Una cantidad total de 4 valores únicos

In [23]:
df_distribuidor = df[df['tipo_cliente'] == 'Distribuidor']
df_hospital = df[df['tipo_cliente'] == 'Hospital']
df_farmacia = df[df['tipo_cliente'] == 'Farmacia']
df_otro = df[df['tipo_cliente'] == 'Otro']

In [24]:
clientes_nansotros = df_otro['cliente_id'].isna().sum()
clientes_nansotros

18274

In [25]:
clientes_nans = df['cliente_id'].isna().sum()
clientes_nans

18304

In [26]:
material_nans = df['material_id'].isna().sum()
material_nans

18

In [27]:
df.shape

(6973900, 4)

### Análisis Distribuidores

In [28]:
df_distribuidor.shape

(592016, 4)

In [29]:
for columna in df_distribuidor.columns:
    valores_unicos = df_distribuidor[columna].unique()
    cantidad_valores = len(valores_unicos)
    print(f'Valores únicos en {columna}: {valores_unicos}. Una cantidad total de {cantidad_valores} valores únicos')

Valores únicos en periodo: ['2021-01-01T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-11-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000'
 '2022-01-01T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-03-01T00:00:00.000000000' '2022-04-01T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-08-01T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2023-01-01T00:00:00.000000000' '2023-02-01T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-04-01T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-07-01T00:00:00.000000000' '2023-08-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000']. Una cantidad total de 33 valores únicos
Valores únicos en cliente_id: [2.662e+03 9.650e+02 1.008e+03 1.091e+03 1.466e+03 1.792e+03 2.968e+03
 1.491e+03 2.907e+03 5.050e+02 1.407e+03 3.219e+03 4.370e+02 1.076e+03
 4.620e+02 5.410e+02 2.272e+03 1.797e+03 7.100e+02 1.252e+03 2.800e+02
 1.051e+03 2.345e+03 2.931e+03 2.343e+03 2.267e+03 9.190e+02 1.039e+03
 1.920e+02 1.656e+03 1.294e+03 3.601e+03 3.016e+03 2.768e+03 3.226e+03
 2.080e+03 1.037e+03 2.226e+03 2.507e+03 1.594e+03 5.860e+02 3.247e+03
 6.480e+02 1.791e+03 2.542e+03 2.460e+03 3.115e+03 3.450e+02 2.094e+03
 1.227e+03 4.520e+02 2.389e+03 2.602e+03 2.268e+03 6.320e+02 3.339e+03
 2.077e+03 3.346e+03 3.280e+02 1.254e+03 1.795e+03 5.020e+02 1.900e+02
 7.400e+02 4.570e+02 1.536e+03 2.590e+03 3.352e+03 3.131e+03 1.040e+03
 4.610e+02 1.585e+03 4.660e+02 2.274e+03 2.018e+03 9.660e+02 6.060e+02
 3.278e+03 1.591e+03 1.578e+03 3.291e+03 2.285e+03 1.053e+03 2.486e+03
 2.117e+03 4.640e+02 2.903e+03 2.742e+03 1.480e+02 2.256e+03 2.572e+03
 2.284e+03 1.114e+03 9.620e+02 3.063e+03 1.239e+03 3.300e+03 2.409e+03
 2.841e+03 3.970e+02 2.103e+03 2.000e+02 3.347e+03 3.035e+03 2.543e+03
 2.834e+03 2.761e+03 1.287e+03 1.991e+03 2.491e+03 1.016e+03 1.056e+03
 1.634e+03 2.030e+02 2.896e+03 3.539e+03 1.078e+03 2.592e+03 2.336e+03
 1.556e+03 3.290e+03 2.594e+03 1.000e+03 2.846e+03 2.160e+02 2.003e+03
 2.411e+03 9.640e+02 2.314e+03 1.450e+02 1.292e+03 2.883e+03 9.100e+01
 9.000e+01 3.700e+01 1.900e+01 4.794e+03 4.937e+03 4.940e+03 4.726e+03
 5.074e+03 4.975e+03 4.790e+03 4.739e+03 8.900e+01 4.734e+03 5.300e+01
 4.823e+03 4.751e+03 4.835e+03 4.865e+03 5.048e+03 4.816e+03 4.792e+03
 1.595e+03 2.260e+03 2.540e+02 2.349e+03 3.039e+03 4.630e+02 2.081e+03
 2.481e+03 3.162e+03 2.351e+03 9.630e+02 1.064e+03 1.081e+03 3.307e+03
 1.072e+03 6.690e+02 3.795e+03 2.321e+03 1.788e+03 2.885e+03 1.829e+03
 2.987e+03 4.490e+02 2.265e+03 2.150e+03 1.520e+02 2.568e+03 2.369e+03
 3.439e+03 1.129e+03 1.271e+03 1.471e+03 3.682e+03 1.268e+03 1.043e+03
 1.379e+03 2.458e+03 2.037e+03 1.118e+03 1.560e+02 1.220e+03 1.501e+03
 4.888e+03 7.100e+01 4.931e+03 8.700e+01 1.000e+00 5.009e+03 4.921e+03
 4.920e+03 4.864e+03 4.855e+03 2.500e+01 4.738e+03 6.500e+01 5.023e+03
 4.766e+03 4.973e+03 5.027e+03 4.791e+03 4.764e+03 7.600e+01 6.900e+01
 4.774e+03 8.200e+01 4.843e+03 4.877e+03 5.200e+01 4.894e+03 4.946e+03
 4.742e+03 4.755e+03 5.700e+01 4.805e+03 4.861e+03 3.000e+01 4.763e+03
 8.000e+01 8.800e+01 2.100e+01 4.732e+03 1.035e+03 4.826e+03 5.038e+03
 4.736e+03 4.754e+03 4.851e+03 4.793e+03 4.760e+03 4.724e+03 4.997e+03
 4.765e+03 4.965e+03 4.771e+03 5.034e+03 4.890e+03 7.300e+01 4.820e+03
 4.867e+03 4.740e+03 4.972e+03 4.895e+03 7.800e+01 5.046e+03 1.854e+03
 8.000e+00 5.051e+03 7.000e+01 4.984e+03 4.860e+03 4.857e+03 5.400e+01
 4.769e+03 4.947e+03 5.028e+03 4.850e+03 4.815e+03 4.744e+03 4.987e+03
 4.848e+03 5.041e+03 4.733e+03 5.032e+03 7.700e+01 8.600e+01 8.100e+01
 7.900e+01 4.983e+03 4.880e+03 5.003e+03 7.200e+01 4.939e+03 5.070e+03
 7.500e+01 1.120e+03 4.892e+03 4.788e+03 2.083e+03 4.859e+03 2.335e+03
 1.099e+03 4.982e+03 1.124e+03 2.046e+03 4.735e+03 4.753e+03 1.100e+01
 8.300e+01 4.992e+03 8.400e+01 4.814e+03 5.060e+03 2.283e+03 5.047e+03
 2.817e+03 3.554e+03 5.016e+03 1.959e+03 1.655e+03 1.408e+03 7.400e+01
 3.351e+03 4.813e+03 2.358e+03 5.000e+03 1.055e+03 4.796e+03 3.480e+03
 3.030e+03 1.794e+03 1.784e+03 1.990e+03 3.465e+03 3.148e+03 2.713e+03
 2.044e+03 3.446e+03 1.785e+03 1.960e+03 4.776e+03 4.882e+03 2.600e+01
 4.852e+03 9.930e+02 1.074e+03 2.041e+03 1.087e+03 4.872e+03 4.743e+03
 4.918e+03 4.801e+03 3.463e+03 4.729e+03 3.489e+03 4.923e+03 4.808e+03
 3.051e+03 4.006e+03 4.741e+03 2.368e+03 3.156e+03 2.695e+03 3.677e+03
 6.400e+01 1.530e+03 4.913e+03 3.890e+03 1.295e+03 4.799e+03 4.102e+03
 5.079e+03 5.073e+03 3.023e+03 1.082e+03 2.260e+02 4.173e+03 2.200e+02
 4.289e+03 2.569e+03 9.300e+01 4.280e+03 4.297e+03 2.788e+03 4.492e+03
 4.308e+03 2.357e+03 9.400e+01 4.552e+03 9.500e+01 1.089e+03 4.581e+03
 2.799e+03 5.680e+02 4.612e+03 9.200e+01 4.627e+03 2.333e+03 9.900e+01
 4.684e+03 4.683e+03 4.665e+03 4.666e+03 8.500e+01 1.000e+02 3.107e+03
 9.800e+01 4.618e+03 4.693e+03 4.694e+03 9.600e+01 4.700e+03 4.698e+03
 4.706e+03 4.707e+03 3.281e+03 4.711e+03 9.700e+01 1.960e+02 1.380e+02
 5.560e+02 4.537e+03 1.800e+02 1.755e+03 2.275e+03 4.180e+02 2.308e+03
 3.127e+03 2.376e+03 1.223e+03 1.285e+03 6.170e+02 2.976e+03 2.640e+02
 2.566e+03 1.569e+03 4.890e+02 4.284e+03 1.048e+03 4.510e+02 9.700e+02
 2.835e+03 3.304e+03 2.249e+03 1.243e+03 3.342e+03 2.344e+03 3.267e+03
 2.095e+03 3.792e+03 9.430e+02 2.688e+03 1.979e+03 1.439e+03 3.750e+02
 6.990e+02 1.604e+03 1.012e+03 3.991e+03 3.221e+03 3.167e+03 3.008e+03
 2.970e+02 6.430e+02 2.029e+03 2.757e+03 1.475e+03 2.421e+03 2.070e+03
 2.952e+03 4.491e+03 2.899e+03 1.811e+03 8.960e+02 4.290e+03 1.088e+03
 3.430e+02 2.877e+03 1.520e+03 2.656e+03 1.113e+03 4.094e+03 2.466e+03
 3.088e+03 1.641e+03 4.300e+03 3.653e+03 2.522e+03 3.424e+03 3.529e+03
 4.717e+03 2.350e+02 2.920e+03 4.162e+03]. Una cantidad total de 487 valores únicos
Valores únicos en material_id: [1950.  240.    6. ... 1560. 1860. 1561.]. Una cantidad total de 1258 valores únicos
Valores únicos en tipo_cliente: ['Distribuidor']. Una cantidad total de 1 valores únicos

### Análisis Hospitales

In [30]:
df_hospital.shape

(5346048, 4)

In [31]:
for columna in df_hospital.columns:
    valores_unicos = df_hospital[columna].unique()
    cantidad_valores = len(valores_unicos)
    print(f'Valores únicos en {columna}: {valores_unicos}. Una cantidad total de {cantidad_valores} valores únicos')

Valores únicos en periodo: ['2021-01-01T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-11-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000'
 '2022-01-01T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-03-01T00:00:00.000000000' '2022-04-01T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-08-01T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2023-01-01T00:00:00.000000000' '2023-02-01T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-04-01T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-07-01T00:00:00.000000000' '2023-08-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000']. Una cantidad total de 33 valores únicos
Valores únicos en cliente_id: [ 800.  782.  303. ... 3787. 4719. 4718.]. Una cantidad total de 3510 valores únicos
Valores únicos en material_id: [ 317. 2043. 1352. ... 2437. 2438. 2412.]. Una cantidad total de 1613 valores únicos
Valores únicos en tipo_cliente: ['Hospital']. Una cantidad total de 1 valores únicos

### Análisis farmacia

In [32]:
df_farmacia.shape

(1013262, 4)

In [33]:
for columna in df_farmacia.columns:
    valores_unicos = df_farmacia[columna].unique()
    cantidad_valores = len(valores_unicos)
    print(f'Valores únicos en {columna}: {valores_unicos}. Una cantidad total de {cantidad_valores} valores únicos')

Valores únicos en periodo: ['2021-01-01T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-11-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000'
 '2022-01-01T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-03-01T00:00:00.000000000' '2022-04-01T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-08-01T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2023-01-01T00:00:00.000000000' '2023-02-01T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-04-01T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-07-01T00:00:00.000000000' '2023-08-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000']. Una cantidad total de 33 valores únicos
Valores únicos en cliente_id: [2000. 2866.  212. ... 3934. 3555. 4341.]. Una cantidad total de 1191 valores únicos
Valores únicos en material_id: [ 259. 2142.  161. ... 2438. 1667. 2437.]. Una cantidad total de 1296 valores únicos
Valores únicos en tipo_cliente: ['Farmacia']. Una cantidad total de 1 valores únicos

### Análisis otro

In [34]:
df_otro.shape

(22574, 4)

In [35]:
for columna in df_otro.columns:
    valores_unicos = df_otro[columna].unique()
    cantidad_valores = len(valores_unicos)
    print(f'Valores únicos en {columna}: {valores_unicos}. Una cantidad total de {cantidad_valores} valores únicos')

Valores únicos en periodo: ['2021-01-01T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-11-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000'
 '2022-01-01T00:00:00.000000000' '2022-02-01T00:00:00.000000000'
 '2022-03-01T00:00:00.000000000' '2022-04-01T00:00:00.000000000'
 '2022-05-01T00:00:00.000000000' '2022-06-01T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-08-01T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-11-01T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2023-01-01T00:00:00.000000000' '2023-02-01T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-04-01T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-07-01T00:00:00.000000000' '2023-08-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000']. Una cantidad total de 33 valores únicos
Valores únicos en cliente_id: [  nan  103.  104.  105.  102. 3499. 3372. 3286. 3331. 3337. 3364. 3491.
 3799.  101. 3420. 3461. 3820. 2857. 3353. 3382. 3399. 3613. 3315. 3349.
 3316. 3571. 3441. 3481. 3404. 3580. 3362. 3834. 3588. 3474. 3366. 3445.
 3482. 3618. 1787. 3301. 3527. 3813. 1148. 3573. 3656. 2048. 3811. 3679.
 3532. 3839. 3517. 3305. 3577. 3295. 3541. 3542.  625. 3289. 3596. 3312.
 3369.  690. 3393. 3865. 3604. 3488. 1101. 3584.  517. 3844. 3801. 3857.
 3802. 3869. 3796. 3920. 3819. 3894. 3880. 3899. 3881. 3835. 3800. 3709.
 3897. 3898. 4060. 3793. 3984. 4058. 3955. 4064. 4020. 4033. 4004. 3843.
 3755. 3965. 4240. 3989. 4223. 3821. 4217. 4059. 3860. 4034. 3979. 4151.
 4112. 4224. 4190. 4042. 3833. 3042. 3876. 3768. 4127. 3840. 4074. 3917.
 4063. 3957. 3805. 4053. 4121. 4101. 4216. 3845. 3986. 4157. 4214. 3981.
 2694. 4114. 3939. 4089. 3194. 4137. 4196. 4105. 3864. 4122. 3873. 4222.
 4225. 3848.  275. 4148.  310.  268. 3992.  771.  455. 2544.  323. 3925.
 1177. 1341. 1364. 1559.  359.  477. 1562. 1813. 2684. 2270. 3228. 1362.
 3010. 1394. 4144.  301. 3856.  129. 3658.  871. 1929. 1400.  187. 1349.
 1343. 2921. 1228. 1139. 2135.  566. 2361. 3106. 3918.  189.  342. 2869.
 1293. 1180.  534. 3012. 3616.  265. 2689.  370. 2685. 4360. 1896. 3872.
  904. 2253. 1278. 3398.  123. 3213. 4022. 2354. 2729. 3969. 1308. 1820.
 1476. 2949. 2794. 2234.  584. 1808. 4358. 1659. 3061.  121. 2241.  396.
  234. 2744. 4218. 2244.  406.  620. 2239. 1347. 1438. 4211. 2257.  973.
 1165. 1835. 2812.  980. 1669. 3776. 4212. 2897. 1957. 1418.  996. 1122.
 2243. 1110.  162. 3214.  797.  971. 1108. 3076.  394. 1480.  389. 1405.
  518. 3932. 2777.  316. 1982. 3282.  308. 3498. 2238. 3771. 2909.  300.
 3119. 1133. 1770. 2603. 1167. 3083. 2552. 3509. 2352. 1344. 3274. 3116.
 1356. 1643. 1765.  974. 2250.  472. 1777. 4335. 1005. 3676. 2318. 2517.
 2648. 4136. 2823. 1079. 2518. 2551. 1952.  364. 2124.  183.  113. 2170.
 2187. 1141.  999. 2159. 2926. 3515. 2621.  988. 1425. 4547. 4220. 1707.
 4352. 3728.  521. 1149.  785. 1493.  318. 1708. 1602. 4001.  508.  420.]. Una cantidad total de 336 valores únicos
Valores únicos en material_id: [1279. 1039. 1359. ... 2451. 2452. 2182.]. Una cantidad total de 1550 valores únicos
Valores únicos en tipo_cliente: ['Otro']. Una cantidad total de 1 valores únicos

### Ejemplo con una farmacia

In [36]:
df_farmacia.head()

      periodo  cliente_id  material_id tipo_cliente
27 2021-01-01      2000.0        259.0     Farmacia
28 2021-01-01      2866.0        259.0     Farmacia
40 2021-01-01       212.0       2142.0     Farmacia
41 2021-01-01      1052.0        161.0     Farmacia
42 2021-01-01      1083.0        505.0     Farmacia

In [49]:
df_cliente_and_material = df_farmacia[(df_farmacia['cliente_id'] == 1052) & (df_farmacia['material_id'] == 161)]

In [50]:
df_cliente_and_material

           periodo  cliente_id  material_id tipo_cliente
41      2021-01-01      1052.0        161.0     Farmacia
1623250 2021-08-01      1052.0        161.0     Farmacia
2797690 2022-01-01      1052.0        161.0     Farmacia
2979007 2022-02-01      1052.0        161.0     Farmacia
3202194 2022-03-01      1052.0        161.0     Farmacia
3431929 2022-04-01      1052.0        161.0     Farmacia
3768512 2022-05-01      1052.0        161.0     Farmacia
3950797 2022-06-01      1052.0        161.0     Farmacia
4151511 2022-07-01      1052.0        161.0     Farmacia
4319757 2022-08-01      1052.0        161.0     Farmacia
4678479 2022-09-01      1052.0        161.0     Farmacia
4850657 2022-10-01      1052.0        161.0     Farmacia
5051821 2022-11-01      1052.0        161.0     Farmacia
5334474 2022-12-01      1052.0        161.0     Farmacia
5757719 2023-02-01      1052.0        161.0     Farmacia

In [51]:
df_cliente_2000_and_material_259.shape

(12, 4)