In [2]:
import os
import pandas as pd

In [3]:
raw_data = pd.read_parquet('data/tec_estocasticos.parquet', engine='pyarrow')

In [4]:
raw_data

         periodo  cliente_id  material_id  tipo_cliente
0        05-2022      4894.0         22.0  Distribuidor
1        05-2022      4769.0         17.0  Distribuidor
2        05-2022      4823.0        227.0  Distribuidor
3        08-2022      4816.0        340.0  Distribuidor
4        08-2022      4888.0        270.0  Distribuidor
...          ...         ...          ...           ...
6973895  05-2022      1816.0       1861.0      Farmacia
6973896  05-2022      1725.0       1373.0      Hospital
6973897  05-2022       588.0       2249.0      Hospital
6973898  05-2022       565.0        191.0      Hospital
6973899  05-2022      1108.0       2160.0      Hospital

[6973900 rows x 4 columns]